@font-face {
    font-family: Inter;
    src: url("Fonts/Inter Black.otf");
}
@font-face {
    font-family: katibeh;
    src: url("Fonts/Katibeh-Regular.ttf");
}
@font-face {
    font-family: Lalezar;
    src: url("Fonts/Lalezar-Regular.ttf");
}